# Copy to ops/jitsi/jitsi.env and adjust for your environment.
JITSI_PUBLIC_URL=http://localhost:9080
JITSI_HTTP_PORT=9080
JITSI_HTTPS_PORT=9443
JITSI_TZ=UTC
JITSI_ENABLE_AUTH=0
JITSI_ENABLE_GUESTS=1
JITSI_ENABLE_XMPP_WEBSOCKET=1
JITSI_ENABLE_COLIBRI_WEBSOCKET=1
JITSI_XMPP_DOMAIN=meet.jitsi
JITSI_XMPP_AUTH_DOMAIN=auth.meet.jitsi
JITSI_XMPP_GUEST_DOMAIN=guest.meet.jitsi
JITSI_XMPP_MUC_DOMAIN=muc.meet.jitsi
JITSI_XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
JITSI_XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
JITSI_XMPP_SERVER=jitsi-prosody
JITSI_JICOFO_COMPONENT_SECRET=change-me-component-secret
JITSI_JICOFO_AUTH_USER=focus
JITSI_JICOFO_AUTH_PASSWORD=change-me-focus-secret
JITSI_JVB_AUTH_USER=jvb
JITSI_JVB_AUTH_PASSWORD=change-me-jvb-secret
JITSI_JVB_BREWERY_MUC=jvbbrewery
JITSI_DOCKER_HOST_ADDRESS=127.0.0.1
JITSI_JVB_PORT=10000
JITSI_JVB_STUN_SERVERS=stun.l.google.com:19302
JITSI_JIGASI_XMPP_PASSWORD=change-me-jigasi-secret
JITSI_JIBRI_RECORDER_PASSWORD=change-me-recorder-secret
JITSI_JIBRI_XMPP_PASSWORD=change-me-jibri-secret
